[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/matlab-emacs"]
	path = vendor/matlab-emacs
	url = https://github.com/ruediger/matlab-emacs.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "vendor/emacs-for-python"]
	path = vendor/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
[submodule "vendor/ensime"]
	path = vendor/ensime
	url = https://github.com/aemoncannon/ensime.git
[submodule "vendor/paredit"]
	path = vendor/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "vendor/rvm"]
	path = vendor/rvm
	url = https://github.com/senny/rvm.el
[submodule "vendor/puppet"]
	path = vendor/puppet
	url = https://github.com/puppetlabs/puppet-syntax-emacs.git
[submodule "vendor/distel"]
	path = vendor/distel
	url = https://github.com/massemanet/distel.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/nrepl"]
	path = vendor/nrepl
	url = https://github.com/kingtim/nrepl.el.git
[submodule "vendor/monokai-theme"]
	path = vendor/monokai-theme
	url = https://github.com/rvoicilas/el-monokai-theme.git
[submodule "vendor/scala-mode2"]
	path = vendor/scala-mode2
	url = https://github.com/hvesalai/scala-mode2.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
