[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/matlab-emacs"]
	path = vendor/matlab-emacs
	url = https://github.com/ruediger/matlab-emacs.git
[submodule "vendor/tuareg"]
	path = vendor/tuareg
	url = https://github.com/afeinberg/tuareg-mode.git
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "vendor/color-theme-tango-2"]
	path = vendor/color-theme-tango-2
	url = https://github.com/wfarr/color-theme-tango-2.git
[submodule "vendor/emacs-for-python"]
	path = vendor/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
[submodule "vendor/ensime"]
	path = vendor/ensime
	url = https://github.com/aemoncannon/ensime.git
[submodule "vendor/paredit"]
	path = vendor/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "vendor/rvm"]
	path = vendor/rvm
	url = https://github.com/senny/rvm.el
[submodule "vendor/puppet"]
	path = vendor/puppet
	url = https://github.com/puppetlabs/puppet-syntax-emacs.git
[submodule "vendor/distel"]
	path = vendor/distel
	url = https://github.com/massemanet/distel.git
